html,body{
    margin:0;
    height: 100%;
}

h3{
    text-transform: uppercase;
    color:rgb(255, 255, 26);
}

/*==============================================================================================
                        HOME-cover
==============================================================================================*/