body{
background-color: rgb(255,167,144);
}

#content {
    background-color: rgb(255,237,145);
    padding: 15px;
    margin-left: 49px;
    margin-top: 49px;
    margin-bottom: 50px;
    margin-right: 60px;
}
#row{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}