#parallaxa{
    width: 100%;
    height: 100%;
}
.content{
    background-color: bisque;
    text-align: center;
}

div #bg-img, #bg{
    background-image: url("1.jpg");
    height: 100%;
}
 #bg-2,
  #bg-3
  
  .bg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
   }

div {
    border: thin black solid;
      height: 200px; /* 1 */
    height: 90vh;
  }
/*========================================*/
.cssgradientoverlay{
  width: 1700px;
  height: 870px;;
 padding: 2em;
 background-image: url('/1.jpg');
}

/* gradint*/
#cloud-gradient{
  width: 100%;
  height: 50%;
  border: 2px solid gray!important;
  background-color: rgb(165, 163, 65);
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  color: aquamarine; 
}
@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
  
  .clip{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/76301/clouds_800x200.jpg');
    background-repeat: no-repeat; 
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-position: 0 80%;
    margin-left: 30%;
    margin-right: 30%;
    background-color:green;
  
  }
  
}
/* grid with orwser css*/
.grid{
  display: grid;
  max-width: 60rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1em 1em;
  padding:1em;
  margin: auto;

}
.image{
  grid-area: image;
}

img fpo{
  display: inline-block;
  width: 100%;
  height: 2em;
  background-color: bisque;
  padding-top: 20%;
  font-family: Arial, Helvetica, sans-serif;
}
.headline{
  grid-area: headline;
}
p{
  margin-top: 0;
}
img.fpo{
  display: inline-block;
  width: 100%;
  height: 2em;
  background-color:green;
  padding-bottom: 20%;
  font-family: 'Courier New', Courier, monospace;
}
.layout-v1{
  grid-template-areas: "image image image"
                       "headline text text"
}